{% extends 'base.html.twig' %}

{% block nav %}
 <li class="breadcrumb-item"><a href="/bevents">Events</a></li>
 <li class="breadcrumb-item">{% if event.id %}Event #{{event.id}} {% else %} New Event{% endif %}</li>
{% endblock nav %}

{% block content %}
    <h2>{{event.title}}</h2>
{{ form(form) }}

{% endblock %}