{% extends "base.html.twig" %}

{% block nav %}
 <li class="breadcrumb-item"><a href="/bevents">Events</a></li>
{% endblock nav %}

{% block content %}
    <h2>Events!</h2>
<div class="list-group">
{% for event in events %}
    <a class="list-group-item list-group-item-action"  href="{{ url("edit_event", {id: event.id}) }}">{{event.title}}</a>
{% endfor %}
</div>

<a class="btn btn-primary" href="{{url("new_event")}}">Create a new Event</a>
{% endblock %}